* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

header nav {
	display: flex;
	gap: 10px;
}

#site-title {
	font-size: 1.5rem;
}

#hero {
	height: 100vh;
}

/*===================*/
/*     Dropdown      */
/*===================*/

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-button {
	padding: 1rem;
	border: none;
	min-width: 10rem;
	background-color: #f06d06;
	color: white;
	font-size: 1.2rem;
}

.dropdown-list {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	width: 10rem;
	background-color: lightgrey;
	list-style: none;
	margin-block-start: 0px;
	margin-block-end: 0px;
	padding-inline-start: 0px;
	transition: opacity 500ms ease-in-out;
	z-index: 1;
}

.dropdown-list li {
	color: white;
	font-size: 1.1rem;
}

.dropdown-list li:hover {
	background-color: grey;
	color: white;
	font-size: 1.1rem;
}

.dropdown-list li a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: black;
}

.dropdown:hover .dropdown-list {
	visibility: visible;
	opacity: 1;
}

/*===================*/
/*   Image Slider    */
/*===================*/

.image-slider {
	height: 100%;
	width: 100%;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-size: cover;
	background-position: center;
	transition: background-image 400ms ease-in-out;
}

.image-slider > button {
	padding: 2rem;
	border-radius: 20%;
	border: none;
	opacity: 0.4;
}

.image-slider > button:hover {
	opacity: 0.8;
}

/*===================*/
/*    Mobile Menu    */
/*===================*/

.mobile-menu {
	display: flex;
	justify-content: center;
	position: sticky;
	bottom: 1rem;
	left: 50%;
	max-width: 100%;
	margin: 0.5rem;
}

.mobile-menu-bar {
	display: flex;
	max-width: 100vw;
	gap: 1rem;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(240, 109, 6, 0);
	border-radius: 25px;
	transition: background-color 300ms ease-in;
}

.mobile-menu-toggle {
	flex: 1;
	height: 100%;
	border-radius: 30%;
	background-color: #f06d06;
	color: white;
	border: none;
	padding: 1rem;
	font-size: 2rem;
	cursor: pointer;
}

.mobile-menu-button {
	flex: 1;
	opacity: 0;
	transition: opacity 300ms ease-in;
	background-color: transparent;
	color: white;
	border: none;
	padding: 1rem;
	text-decoration: none;
	font-family: sans-serif;
	word-break: break-all;
}
